{% extends "base.html" %}

{% block title %}
	    <title>Registro usuario</title>
{% endblock %}

{% block content %}
	{% include "includes/header.html" %}
	<div class="container page">
		<div class="row">
			<div class="col-xs-3"></div>
			<div class="col-xs-5">
			{% load bootstrap3 %}
			<form acion="" method="post">
			<legend>Formulario de registro</legend>
		        {% csrf_token %}
		        {% bootstrap_form formulario %}
		        {% buttons %}
		            <button type="submit" class="btn btn-primary">Registrar</button>
		        {% endbuttons %}
		    </form>				
			</div>
		</div>
	</div>
	{% include "includes/footer.html" %}
{% endblock %}